# --- Web --- #
flask==3.0.3
flask-sqlalchemy==3.1.1
flask-login==0.6.3
flask-bcrypt==1.0.1
flask-session==0.8.0
flask-cors==6.0.2

# --- DB --- #
psycopg2-binary

# --- OS --- #
python-dotenv==1.2.2

# --- AI --- #
google-cloud-aiplatform[vision]
google-genai
Pillow

# --- Image Processing --- #
opencv-python-headless
ffmpeg-python